PORT=3333

DATABASE_URL=''

CRON_JOB_SECRET=''

SHOPEE_API_URL=''
SHOPEE_APP_ID=''
SHOPEE_SECRET=''

SHOPEE_SYNC_JOB_ENABLED = ''
SHOPEE_SYNC_CRON = ''
SHOPEE_SYNC_TIMEZONE = ''

TELEGRAM_BOT_TOKEN=''
TELEGRAM_CHANNEL_CHAT_ID=''
TELEGRAM_API_URL=''
TELEGRAM_PROMOTIONS_JOB_ENABLED=''
TELEGRAM_PROMOTIONS_CRON=''
TELEGRAM_PROMOTIONS_TIMEZONE=''
